.container {
  width: 30vw;
  height: 50vh;
  padding: 10px;
  margin: auto;
  background-color: rgb(122, 163, 207);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.field, .submit {
  background: blue;
  margin-top: 10%;
}

.submit {
  align-self: center;
}
